<div id="contact-form-description">
<h1>Demonstatie video.</h1>
<p>
	Hiernaast een demonstratie van het werken met een Archos tablet. Zie hoe het zoeken en afspelen van een film verloopt, hoe u kunt video bellen met uw vrienden, foto's bekijkt en nog veel meer.
</p>
</div>

<iframe id="video" title="YouTube video player" width="550" height="344" src="http://www.youtube.com/embed/2Vxjka0gOqU?rel=0" frameborder="0" allowfullscreen></iframe>		